.box{
    width: 100px;
    height: 100px;
    border-top: 10px solid rgb(221, 83, 83);
    border-bottom: 10px solid rgb(158, 182, 20);
    border-left: 10px solid rgb(29, 111, 122);
    border-right: 10px solid rgb(167, 25, 185);
    border-radius: 50%;
    margin: 30px auto;
}

.box:hover{
    animation-name: loader;
    animation-duration: 2s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes loader {
    0%{
        transform:translateY(0px) rotate(0deg);
        
    }
    50%{
        transform: translateY(500px) rotate(180deg);
    }
    100%{
        transform: translateY(0px) rotate(360deg);
        
    }
}

