<!-- inlude krna hai apne header ko  -->
<%- include('./partials/header') %>
    

<button id="btn">click me</button>
    <h1>Hello This is Static files</h1>
    <p>Kaise ho bhaiooo or bhenooo</p>


<%- include('./partials/footer') %>


<!-- includer krna hai apne footer ko  -->