<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>GET VS POST</h1>

    
    <fieldset>
        <legend>GET</legend>
        <form action="/user" method="GET">
            <label for="naam">NAME</label>
            <input type="text" name="username" id="naam">

            <label for="umar">AGE</label>
            <input type="text" name="age" id="umar">

            <button type="submit">Submit</button>
        </form>
    </fieldset>



    <br>
    <hr>
    <hr>

    <br>


    <fieldset>
        <legend>POST</legend>
        <form action="/user" method="post">
            <label for="naam">NAME</label>
            <input type="text" name="username" id="naam">

            <label for="umar">AGE</label>
            <input type="text" name="age" id="umar">

            <button type="submit">Submit</button>
    </fieldset>


</body>

</html>