.container{
    width: 90%;
    height: 90%;
    margin: 30px auto;
    background-color: cornflowerblue;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;
    grid-template-areas: "header header header" 
                         "n1 main n2"
                         "n1 main n3"
                         "foot foot foot";

}
body{
    width: 100vw;
    height: 100vh;
    background-color:bisque ;
    
}

.header{
    background-color: aqua;
    grid-area: header;
    border: 1px solid rgb(7, 7, 7);
}

.main{
    background-color: aquamarine;
    grid-area: main;
    border: 1px solid rgb(0, 0, 0);
}

.nav1{
    background-color: rgb(185, 246, 72);
    grid-area: n1;
    border: 1px solid rgb(0, 0, 0);
}

.nav2{
    background-color: violet;
    grid-area: n2;
    border: 1px solid rgb(7, 7, 7);
}
.nav3{
    background-color: tomato;
    grid-area: n3;
    border: 1px solid rgb(10, 10, 10);
}
.footer{
    background-color: rgb(65, 149, 90);
    grid-area: foot;
    border: 1px solid rgb(14, 13, 13);
}