section{
    width: 60%;
    margin: 20px auto;
    border: 2px solid black;
    padding: 20px;
}
h2{
    font-size: 50px;
    text-align: center;
}

/* @media screen and (max-width:490px){
    h2{
        color: orange;
        font-size: 30px;
    }
}

@media screen and (max-width:301px){
    h2{
        color: orange;
        font-size: 20px;
    } 
} */


@media all and (orientation:landscape){
    h2{
        color: yellow;
    }
}

@media all and (orientation:portrait){
    h2{
        color: blue;
    }
}


/* if we want to apply more than one condtion then we apply condition as */
/* @media screen and (orientation :  landscape) , (max-width:600px){
    h2{
        color: yellow;
    }
} */