<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>yeh EJS hai jisme hum apne HTML k sath sath JS bhi likh sakte hain</h1>
    <p>hello ejs </p>
</body>
</html>